*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
}


h1{
    text-align: centre;
    color: #6859fe
}

#button {
    background-color:#6859fe;
    color:white;

}

#button:hover{
    background-color: #6759fedb;
}

#button:active{
    background-color: #6759feaf;
}

#button:focus-visible {
    box-shadow: 0 0 0 2px white 0 0 0 5px #156E5F;
    outline: none;
}

/*Cookie CSS*/
#cookiePopup {
    visibility: visible;
    background-color: #ffffff;
    position: absolute;
    font-size: 14px;
    width: 70vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppings", sans-serif;
    text-align: center;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
    bottom: 0;
}

#cookiePopup img{
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
}

#cookiePopup p{
    text-align: centre;
    margin: 1.4em 0;
}

#cookiePopup button{
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
}

#cookiePopup button:hover{
    background-color: #6759fedb;
}

#cookiePopup a{
    color: #6859fe;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.303);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

